<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

.flexmargin {
    margin-bottom: 20px;
}

.flexwrap {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flexrow {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flexrow-stretch {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 100%;
}

.flexcol {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.flexleft {
    display: flex;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    justify-content: flex-start;
    height: 100%;
}

.flexright {
    display: flex;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    justify-content: flex-end;
}

.flexcenter {
    display: flex;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    justify-content: center;
}

.flextab {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.flexstretch {
    display: flex;
    flex-grow: 4;
}

nav {
    height: 70px;
    background-color: rgba(21, 20, 20, 0.7);
    top: 0;
    right: 0;
    left: 0;
}
.navigation{
  margin-right: 30px;
}

.menuItem {
    color: rgba(255, 255, 255, 0.78);
    margin: 30px 20px;
    height: 38px;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
}

ul{
  list-style: none;
}
li{
    height: 45px;
    padding-top: 10px;
    font-size: 22px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.15);
}
.editbox{
  background-color: red;
}
.editJournel{
  display: grid;
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
    width: 500px;
    padding: 20px;
}
.editJournel label{
  width: 100px;
  font-size: 14px;
  margin-top: 10px;
}

.menuItem:hover {
    border-bottom: 3px solid #d61515;
}
.todolist{
  width: 400px;
  background-color: transparent;
  margin: 35px 30px;
  min-height: 500px;
  /*box-shadow: 2px 2px 5px gray;*/
}
.todoEdit{
    position: relative;
    background-color: rgb(230, 230, 230);
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.47);
    padding-bottom: 20px;
  }
  .todoEdit button{
    width: auto;
  }
  .todoEdit input{
    background-color: transparent;
    border-bottom: 1px solid #E91E63;
    width: 355px;
  }
.todoLbl{
  margin: 10px;
  font-size: 30px;
  color: Black;
}
.todologo{
  width: 50px;
  height: 50px;
}
.logo{
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
  margin:0 10px;
  color:#fff;
}
.addmemberPic{
    background: gray;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    margin: 0 20px;
}
.addmemberPic a{
  margin: 0;
}
.memberPic{
    background: #009688;
    border-radius: 100px;
    height: 60px;
    width: 60px;
    margin: 0 20px;
}
.memberPic a{
  margin: 0;
}
label.mainHdr {
  font-family: sans-serif;
  font-size: 30px;
}
.profilePic{
    background: linear-gradient(141deg, rgba(15, 184, 173, 1) 0%, rgba(31, 200, 219, 1) 51%, rgba(44, 181, 232, 1) 75%);
    border-radius: 100px;
    height: 60px;
    width: 60px;
    margin: 20px;
}
.memberPic img,
.profilePic img{
height: 60px;
width: 60px;
}
.memberHdr{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.journelHdr,
.profileHdr{
  margin-top: 20px;
  height: 90px;
  display: flex;
  flex-direction: column;
}
.profileHdr span{
    font-size: 30px;
    margin-top: 5px;
  font-family: 'Ubuntu', sans-serif;
}
.journelHdr label{
  margin: 10px;
}
.journelImg{
  width: 300px;
  height: 200px;
  margin: 20px 0;
}
.journelData{
    background-color: rgba(255, 255, 255, 0.9);
    height: 65px;
    color: #E91E63;
    margin-top: 20px 0;
    width: 500px;
    height: 200px;
}
.journelPlace{
    font-size: 16px;
    color: gray;
}
.rightAlnTxt{
    text-align: right;
    margin: 0 10px;
  }
.list-journel-item{
  display: inline;
}
.Btn{
    font-size: 16px;
    background-color: #E91E63;
    border: 0;
    padding: 10px;
    cursor: pointer;
    width: 130px;
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
    outline: none;
    box-shadow: 2px 2px 5px gray;
}
.Btn:hover{
  background-color: #F91E63;
}
.createJournel {
  margin: 40px;
}

.editGroup{

  display: grid;
  position: relative;
  background-color: transparent;

  margin-right: 300px;
  width: 10px;
  padding: 20px;

}
.groupTxt{
  border-bottom-color: #E91E63;
  background-color: rgba(158, 158, 158, 0);
  margin:15px 0;
  width: 100px;
}
